<p>
  I'm in a <em>view</em>!
  <%= Time.now %>
</p>

<% @cookbook.recipes.each_with_index do |recipe, index| %>
  <% recipe.done? ? mark = "X" : mark = " " %>
    <%= "#{index + 1}. [#{mark}] #{recipe.name} (#{recipe.prep_time}) description: #{recipe.description} difficulty: #{recipe.difficulty}<br>"%>
<% end %>
